@if (clearance) {
    <div class="clearance-card" [class.editing]="isEditing">
        <div class="header">
            <div class="kind-container">
                <span class="kind">{{ clearance.kind.toUpperCase() }} CLEARANCE</span>
                <span class="step-status" [ngClass]="step?.status">
                    {{ step?.status }}
                </span>
            </div>
        
            <span class="timestamp">{{ clearance.issued_at }}</span>
        
            @if (isEditing) {
                <span class="status">EDIT MODE</span>
            }
        </div>
    
        <textarea
            class="instruction"
            [(ngModel)]="editableInstruction"
            [readonly]="!isEditing"
            placeholder="Enter or edit clearance here..."
        ></textarea>
    
        @if (!isEditing && clearance.coords.length) {
            <div class="support-toggle" (click)="toggleDetails()" [class.expanded]="showDetails">
                <span class="label">Detailed</span>
                <span class="arrow">{{ showDetails ? '↑' : '↓' }}</span>
            </div>
            
            <div class="support-coords-wrapper" [class.open]="showDetails">
                <div class="support-coords">
                    @for (coord of clearance.coords; track $index) {
                        <span class="coord">{{ coord.name }}</span>
                    }
                </div>
            </div>
        }
    
        <div class="actions">
            @if (!isEditing) {
                @if (isRespondableStep) {
                    <button class="btn unable" [title]="'Reject pilot\'s request'" (click)="emitAction('unable')">unable</button>
                    @if (!isStandby) {
                        <button class="btn standby" [title]="'Makes pilot wait for Clearance'" (click)="emitAction('standby')">standby</button>
                    }
                    <button class="btn standby" [title]="'Send Clearance to pilot'" (click)="emitAction('affirm')">affirm</button>
                }
                @if (isEditable) {
                    <button class="btn edit icon-btn" (click)="isEditing = true" title="EDIT CLEARANCE">
                       <svg width="16" height="16" viewBox="0 0 512 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                           <path d="M405.332 256.484c-11.797 0-21.332 9.559-21.332 21.332v170.668c0 11.754-9.559 21.332-21.332 21.332H64c-11.777 0-21.332-9.578-21.332-21.332V149.816c0-11.754 9.555-21.332 21.332-21.332h170.668c11.797 0 21.332-9.558 21.332-21.332 0-11.777-9.535-21.336-21.332-21.336H64c-35.285 0-64 28.715-64 64v298.668c0 35.286 28.715 64 64 64h298.668c35.285 0 64-28.714 64-64V277.816c0-11.796-9.54-21.332-21.336-21.332z"/>
                           <path d="M200.02 237.05a10.793 10.793 0 0 0-2.922 5.438l-15.082 75.438c-.703 3.496.406 7.101 2.922 9.64a10.673 10.673 0 0 0 7.554 3.114c.68 0 1.387-.063 2.09-.211l75.414-15.082c2.09-.43 3.988-1.43 5.461-2.926l168.79-168.79-75.415-75.41zM496.383 16.102c-20.797-20.801-54.633-20.801-75.414 0l-29.524 29.523 75.414 75.414 29.524-29.527C506.453 81.465 512 68.066 512 53.816s-5.547-27.648-15.617-37.714z"/>
                       </svg>
                   </button>
                }
            } @else {
                <button class="btn confirm" (click)="confirmEdit()">set</button>
                <button class="btn cancel" [title]="'Go to prev clearance : ' + clearance.instruction" (click)="cancelEdit()">cancel</button>
            }
        </div>
    </div>
} 
@else {
    <div class="clearance-card request-clearance">
        <div class="header">
            <span class="kind">Request New Clearance</span>
        </div>

        <div class="request-clearance-content">
            <div class="selector">
                <label>Type:</label>
                <select [(ngModel)]="requestedClearanceKind">
                <option value="taxi">Taxi</option>
                <option value="expected">Expected</option>
                </select>
            </div>
    
            <button 
                class="btn request-btn"
                [disabled]="!requestedClearanceKind || !selectedPilotSid"
                (click)="requestClearance()"
            >
                Request Clearance
            </button>
        </div>
    </div>
}