
/* BUTTON STYLES */
.action-buttons-group {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

/* ACTION BUTTONS */
.action-button {
    background-color: #f4f4f4;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
}

.action-buttons-group .action-button.cancel {
    background-color: #ffcccc; 
    color: #ff0000;
    border: 1px solid #ff0000;
}

/* LOAD BUTTON */
#load-button.active {
    background-color: #2196F3; 
}

#load-button.active:hover {
    background-color: #f4f4f4;
    color: #333;
}

/* EXEC BUTTON */
#execute-button {
    background-color: #4caf50;     
}

#execute-button:disabled {
    background-color: #a5d6a7;
}

#execute-button:hover {
    background-color: #45a049; 
    border: 1px solid #fff;
}

/* CANCEL EXEC BUTTON */
#cancel-execute-button {
    background-color: #f44336; 
    color: #fff;
    border: 1px solid #ff0000;
}

#cancel-execute-button:disabled {
    background-color: #ef9a9a;
}

#cancel-execute-button:hover {
    background-color: #d32f2f;
    border: 1px solid #fff;
}

/* STANDBY BUTTON */
#standby:hover {
    background-color: #ff9800; 
}

/* UNABLE BUTTON */
#unable:hover {
    background-color: #f44336; 
}