/* GROUP CONTAINER */
.action-buttons-grp {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 12px;
    font-size: 16px;
    flex-wrap: wrap;
}

/* BASE BUTTON STYLE */
.action-button {
    flex: 1;
    padding: 12px 16px;
    background-color: #2e2e2e;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: all 0.25s ease;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.action-button:hover:not(:disabled) {
    background-color: #3498db;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(108, 194, 74, 0.5);
}

/* INDIVIDUAL BUTTON CUSTOMIZATIONS */
#execute-button {
    background-color: #4caf50;
}

#execute-button:hover {
    background-color: #45a049;
    border: 1px solid #fff;
}

#execute-button:disabled {
    background-color: #a5d6a7;
}

#cancel-execute-button {
    background-color: #f44336;
    color: #fff;
    border: 1px solid #ff0000;
}

#cancel-execute-button:hover {
    background-color: #d32f2f;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(214, 19, 5, 0.5);
}

#cancel-execute-button:disabled {
    background-color: #ef9a9a;
}

#standby:hover {
    background-color: #ff9800;
    color: #111;
}

#unable:hover {
    background-color: #f44336;
}
