/* GROUP CONTAINER */
.action-buttons-grp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    font-size: 16px;
    padding: 0 12px 12px;
}

/* BASE BUTTON STYLE */
.action-button {
    padding: 12px 16px;
    background: linear-gradient( to bottom, 
    #93939369, 
    var(--btn-gradient-dark-bottom) 
    );
    color: var(--text-light);
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    transition: all 0.25s ease;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-muted);
}

/* DEFAULT HOVER FALLBACK */
.action-button:hover:not(:disabled) {
    box-shadow: 0 4px 10px rgba(108, 194, 74, 0.5);
    border-color: var(--color-requested);
}

/* DISABLED STATE */
.action-button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

/* EXECUTE */
.action-button[data-action-type="execute"]:hover:not(:disabled) {
    border: 1px solid var(--white);
    box-shadow: 0 4px 10px rgba(69, 160, 73, 0.5);
}

/* CANCEL */
.action-button[data-action-type="cancel"] {
    color: var(--white);
}
.action-button[data-action-type="cancel"]:hover:not(:disabled) {
    border: 1px solid var(--white);
    box-shadow: var(--shadow-error-soft);
}

/* STANDBY */
.action-button[data-action-type="standby"]:hover:not(:disabled) {
    border-color: var(--color-inactive);
    box-shadow: 0 4px 10px rgba(255, 193, 7, 0.35);
}

/* UNABLE */
.action-button[data-action-type="unable"]:hover:not(:disabled) {
    border-color: var(--color-inactive);
    box-shadow: 0 4px 10px rgba(229, 57, 53, 0.4);
}

/* WILCO */
.action-button[data-action-type="wilco"]:hover:not(:disabled) {
    border-color: var(--color-new);
    box-shadow: 0 4px 10px rgba(76, 175, 80, 0.4);
}

/* LOAD  */
.action-button[data-action-type="load"]:hover:not(:disabled) {
    border-color: var(--color-active);
    box-shadow: 0 4px 10px rgba(0, 188, 212, 0.4);
}
