.main-container {
  display: grid;
  grid-template-rows: auto 4fr;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-body);
  padding: 1rem;
  margin: 0 auto;
  gap: 1rem;
  font-size: 1.1rem;
  color: var(--text-primary);
  position: relative;
}

.pilot-list,
.airport-map,
.header,
.logs {
  background-color: var(--bg-container);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--text-muted);
}

.pilot-list {
  display: grid;
  grid-column: 1;
  grid-row: 2 / -1;
  overflow-y: auto;
}

.logs {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
}

.header {
  grid-row: 1;
  grid-column: 1 / -1;
}

.controls-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  animation: fadeInScale 0.3s ease-out;
}