<div class="pilot-container" [ngClass]="{ 'empty': pilotList.length === 0 }">
  @for (pilot of pilotList; track pilot.sid) {
    <div
      class="pilot-card"
      @pilotAnim
      (click)="selectPilot(pilot)"
      [class.selected]="isSelected(pilot)"
      [attr.title]="getAtcHandler(pilot.sid)"
      [ngStyle]="isHandledByAnotherAtc(pilot.sid) ? { 'border-color': 'var(--color-new)' } : {}"
      >
      @if (isHandledByAnotherAtc(pilot.sid)) {
        <div
          class="pilot-card__pulse"
        ></div>
      }

      @if (pilot.notificationCount) {
        <span class="pilot-card__badge">{{ pilot.notificationCount }}</span>
      }

      <div class="pilot-card__content">
        <div 
          class="pilot-card__callsign"
        >
          {{ pilot.sid.substring(0, 4) }}
        </div>
        <div class="pilot-card__details">
            Requests : {{ pilot.history.length }}
        </div>
      </div>
    </div>
  } @empty {
    <div class="empty-state">
      <img
        class="empty-state-image"
        src="assets/road.png"
        alt="No pilots available"
      >
      <div class="empty-state-text">
        <h3>No pilots on the road</h3>
        <p>Looks like no pilot's connected right now. Check back shortly!</p>
      </div>
    </div>
  }
</div>
