<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CPDLC UI</title>
   <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/logs.css">
   <link rel="stylesheet" href="./static/css/pilot-buttons.css">
   <link rel="stylesheet" href="/static/css/request.css">
   <link rel="stylesheet" href="/static/css/taxi-clearance.css">

   <!-- socket io -->
   <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>   
   <!-- js scripts defered to load after the DOM is ready -->
   <script type="module" src="/static/js/main.js"></script>


</head>
<body>
    <div class="container">
        <header>
            <h1 class="header-title">CPDLC Ground</h1>
            <div class="connection-status">
                <span class="status-indicator"></span>
                <span id="connection-text">Connected to KLAX</span>
            </div>
        </header>     

       <div class="content">
           <!-- Message Log -->
           <div class="message-log">
                <h2>Message Log</h2>
                <div id="message-box" class="log-box">
                    <!-- Dynamic content will be appended here -->
                </div>
            
                <!-- Dynamic Action Buttons -->
                {% for group in action_groups %}
                <div class="action-buttons-grp">
                {% for btn in group.buttons %}
                    <button
                    id="{{ btn.id }}"
                    class="action-button {{ group.group_class }} {{ btn.extra_class }}"
                    disabled
                    >
                    {{ btn.label }}
                    </button>
                {% endfor %}
                </div>
                {% endfor %}
            
                <div class="taxi-clearance-box">
                    <h2>Taxi Clearance</h2>
                    <div id="taxi-clearance-message" class="clearance-box">
                        <!-- Dynamically updated -->
                    </div>
                </div>
            </div>
    
            <!-- Request Menu -->
            <div class="request-menu">
                <h2>Request</h2>
                <div  class="request-list">
                    <!-- Request button for Expected Taxi Clearance -->
                    {% for item in request_overlays %}
                        <div class="overlay" data-action="{{ item.action }}">
                            <div class="overlay-button">
                            <span class="label">{{ item.number }}. {{ item.label }}</span>
                            <div class="status-icons">
                                <div class="spinner" id="{{ item.action }}_spinner"></div>
                                <span class="tick-icon success" id="{{ item.action }}_tick">&#10003;</span>
                            </div>
                            </div>

                            <div class="overlay-actions{% if item.type == 'pushback' %} pushback-overlay{% endif %}">
                            {% if item.type == 'pushback' %}
                                <div class="pushback-direction">
                                <button class="direction-button" id="pushback-left">L</button>
                                <button class="direction-button" id="pushback-right">R</button>
                                </div>
                            {% endif %}

                            <button class="request-button" id="{{ item.action | replace('_', '-') }}-btn" data-action="{{ item.action }}"
                                    {% if item.type == 'pushback' %}disabled{% endif %}>
                                Request
                            </button>
                            <button class="cancel-button" data-action="{{ item.action }}" disabled>Cancel</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>   
           </div>
       </div>
   </div>
</body>
</html>